/**
 * Created by Dylan Hunt @ Smartlaunch on 2/10/2015
 * ALTERED 4/10/2015 to support 1.0.2x86
 */

/* GENERAL */
html
{

}
html, body, td, th, input, select, span {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.9em;
	text-align: center;
	color: darkslategrey;
}
a {
	color: white;
	text-decoration: none;
}
a:hover {
	color: red;
}
body {
	background: url(captiveportal-mainbg2.jpg) fixed center no-repeat /* 1920x1080 */;
}
@media (orientation: portrait) {
	/* Mobile -- portrait mode */
	body {
		background: url(captiveportal-mainbg-portrait.jpg) fixed no-repeat /* 1080x1920 */;
		background-size: 100%;
	}
}
label
{
    display: block;
}
#wrapper, #accept, .hideMe
{
	display: none;
}
#userText
{
	font-size: 20pt;
	font-weight: bold;
	font-family: Frutiger, Lucida Grande, Lucida Sans, Arial, sans-serif; /* Frutiger font is like Windows10 */
	text-align: center;
}
#browserFail
{
	color: white;
	text-align: center;
	position: absolute;
	margin-left: -12.5em;
	top: 50%;
	left: 50%;
}

/* LOGOUT FORM */
.logoutform
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);	/* Moves form to center */
	font-size: medium;
}
#userText
{
	margin-top: 100px;
}
.timeLeft
{
	text-align: center;
}
#keepOpen
{
	text-align: center;
	color: white;
	font-style: italic;
}
#logout2
{
	margin-top: 15px;
	margin-left: 60px;
	min-width: 100px;					/* Makes same size */

	color: #fff;						/* White */
	border: 1px solid rgba(0, 0, 0, .3);
	border-radius: 3px;					/* Cornered edges */
	background: #64c8ef; 				/* Old browsers */

	display: table;
}
#help {
	color: white;
}

/* LOGOUT STATUS */
#status
{
	width: 100%;
	opacity: 80;
	color: white;
	background-color: green;
	text-align: center;
}

/* DISCONNECT PAGE */
#dc
{

}
#dcbg
{
    color: white;
    background-color: black;
}

/* LOGIN FORM */
/* Placeholder (watermark) for input >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
::-webkit-input-placeholder {
	text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
	text-align: center;
}

::-moz-placeholder {  /* Firefox 19+ */
	text-align: center;
}

:-ms-input-placeholder {
	text-align: center;
}
/* /Placeholder (watermark) for input <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
#loginformsection
{
	/* Placeholder */
}
.loginform
{
	position: absolute;					/* Moves form to center */
	top: 50%;							/* Moves form to center */
	left: 50%;							/* Moves form to center */
	transform: translate(-50%, -50%);	/* Moves form to center */
	margin-left: -18px; 				/* Centers form */
	margin-top: -10px;					/* Moves form up slightly after centered */
	font-size: medium;					/* Larger txt than avg */
}
.loginform ul {
	list-style-type: none; 				/* Removes bullets */
}
input
{
	background-color: white; 			/* Prevents blending into bg */
}
/* BUTTONS */
#accept2, #register
{
	margin: 0 auto;						/* Centers */
	margin-top: 10px;					/* Puts space in between elements
	/*min-width: 100px;					/* Makes same size */
	color: #fff;						/* White */
	border: 1px solid rgba(0, 0, 0, .3);/* Looks flatter */
	/*border-radius: 3px;*/				/* Cornered edges */
	background: #64c8ef; 				/* Old browsers */
}
#register
{
	float: right;
	margin-right: 5px;
}
#accept2
{
	min-width: 95px;
}
#accept2:hover
{
	background-color: green;
}
#register:hover
{
	background-color: orange;
}
#logout2:hover
{
	background-color: red;
}

/* DIALOG BOX */
#dialog
{
	margin-bottom: -100px;
	text-align: center;
}
.ui-dialog .ui-dialog-titlebar
{
	width: 100%;
	text-align: center;
}
.ui-dialog .ui-dialog-title .ui-icon
{
	float: left;
	margin-right: 4px;
}
.error
{
	border-color: #f00;
}

/* PROGRESS BAR */
.ui-progressbar
{
    position: relative;
}
.progress-label
{
    position: absolute;
    left: 50%;
    top: 4px;
    font-weight: bold;
    text-shadow: 1px 1px 0 #fff;
}

/* TOS ACCORDION */
#tos
{
	margin-top: 1em;
	position: static;
	max-width: 1050px;
}
#tos h3
{
	font-size: 0.8em;
	text-align: center;
	position: absolute;
}
#tos p
{
	font-size: 0.8em;
	font-weight: normal;
	text-align: left;
}
#tos .ui-accordion-content
{
	color: gray;
	line-height: 16pt;
}
#tos .ui-state-active {
	background: url("captiveportal-ui-bg_gloss-wave_55_5c9ccc_500x100.png");
	color: white;
}