# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

sl_cportal/.idea/workspace.xml
*.xml
*.name
.idea/sl_cportal.iml
sl_cportal/#Unused, bak, templates, alt/#Best/captiveportal-login - Copy.js
sl_cportal/#Unused, bak, templates, alt/#Best/index - Copy.html
sl_cportal/#Unused, bak, templates, alt/#Best/captiveportal-style - Copy.css
sl_cportal/#Unused, bak, templates, alt/captiveportal-jquery.js
sl_cportal/#Unused, bak, templates, alt/index-ui.html
sl_cportal/#Unused, bak, templates, alt/jquery-1.11.2.js
sl_cportal/#Unused, bak, templates, alt/jquery-ui.min.css
sl_cportal/#Unused, bak, templates, alt/jquery-ui.theme.min.css
sl_cportal/#Unused, bak, templates, alt/PFS-template.html
sl_cportal/#Unused, bak, templates, alt/v2.7z
*.bak
sl_cportal/.idea/workspace.xml
sl_cportal/.idea/workspace.xml
